#content {
  overflow-x: hidden;
}

.card {
  position: relative;
  border: 1px solid #e9eaea;
  background-color: #fff;
}

.content-detail {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #000;
  font-size: 28px;
  line-height: 40px;
}

@media (max-width: 767px) {
  .content-detail {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
