#content {
    overflow-x: hidden;
}

.card {
    position: relative;
    background-color: #fff;
}

.content-detail * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.content-detail {
    position: relative;
    color: #000;
    font-size: 28px;
    line-height: 40px;
    padding: 10px 0;
}

.content-detail-text {
    word-break: break-word;
    text-rendering: optimizeLegibility;
    width: 100%;
    min-height: 400px;
    padding: 10px 100px;
    font-family: 'Mn paethai v3', sans-serif;
}

@media (max-width: 991px) {
    .content-detail-text {
        padding-right: 50px;
        padding-left: 50px;
        font-size: 26px;
    }
}

@media (max-width: 767px) {
    .content-detail-text {
        font-size: 24px;
        line-height: 36px;
    }
}

@media (max-width: 479px) {
    .content-detail-text {
        padding-right: 25px;
        padding-left: 25px;
    }
}

.alignCenter {
  text-align: center;
}
.text {
  word-break: break-word;
}
.content-detail-text, .book-page-detail, .feed-info-detail, .story-detail {
  text-rendering: optimizeLegibility;
  .word-count {
    width: auto;
  }
  .tab:before {
    content: " ";
    float: left;
    display: inline-block;
    position: relative;
    width: 50px;
    height: 22px;
  }
}


.dark {
    background-color: #3A3A3C;
    .card {
        background-color: #3A3A3C;
    }

    .content-detail-text {
        color: #A5A7AA;
    }
}

.fontDown-1 {
    .content-detail-text {
        font-size: 22px !important;
        line-height: 32px !important;
    }
}

.fontDown-2 {
    .content-detail-text {
        font-size: 20px !important;
        line-height: 30px !important;
    }
}

.fontDown-3 {
    .content-detail-text {
        font-size: 18px !important;
        line-height: 28px !important;
    }
}

.fontUp-1 {
    .content-detail-text {
        font-size: 26px !important;
        line-height: 38px !important;
    }
}

.fontUp-2 {
    .content-detail-text {
        font-size: 28px !important;
        line-height: 40px !important;
    }
}

.fontUp-3 {
    .content-detail-text {
        font-size: 30px !important;
        line-height: 42px !important;
    }
}
