@font-face {
  font-family: 'Mn paethai demibd v3';
  src: url('../fonts/MN Paethai DemiBd v3.2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mn paethai li v3';
  src: url('../fonts/MN Paethai Li v3.2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mn paethai med v3';
  src: url('../fonts/MN Paethai Med v3.2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mn paethai v3';
  src: url('../fonts/MN Paethai v3.2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mn paethai li it v3';
  src: url('../fonts/MN Paethai Li It v3.2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mn paethai it v3';
  src: url('../fonts/MN Paethai It v3.2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fictionlog all icon';
  src: url('../fonts/Fictionlog_all_icon.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}