* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body {
    min-height: auto;
}

body {
    font-family: 'Mn paethai v3', sans-serif;
    font-size: 20px;
    line-height: 150%;
    min-height: 100%;
    color: #333;
}
