/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: 'Mn paethai demibd v3';
  src: url("../fonts/MN Paethai DemiBd v3.2.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mn paethai li v3';
  src: url("../fonts/MN Paethai Li v3.2.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mn paethai med v3';
  src: url("../fonts/MN Paethai Med v3.2.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mn paethai v3';
  src: url("../fonts/MN Paethai v3.2.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mn paethai li it v3';
  src: url("../fonts/MN Paethai Li It v3.2.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mn paethai it v3';
  src: url("../fonts/MN Paethai It v3.2.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fictionlog all icon';
  src: url("../fonts/Fictionlog_all_icon.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

html.w-mod-touch * {
  background-attachment: scroll !important;
}

.w-block {
  display: block;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.w-clearfix:before,
.w-clearfix:after {
  content: " ";
  display: table;
}

.w-clearfix:after {
  clear: both;
}

.w-hidden {
  display: none;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

input.w-button {
  -webkit-appearance: button;
}

html[data-w-dynpage] [data-w-cloak] {
  color: transparent !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

a:focus {
  outline: 0;
}

blockquote {
  margin: 0 0 10px 0;
  padding: 10px 20px;
  border-left: 5px solid #E2E2E2;
  font-size: 18px;
  line-height: 22px;
}

figure {
  margin: 0;
  margin-bottom: 10px;
}

figcaption {
  margin-top: 5px;
  text-align: center;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

.w-list-unstyled {
  padding-left: 0;
  list-style: none;
}

.w-embed:before,
.w-embed:after {
  content: " ";
  display: table;
}

.w-embed:after {
  clear: both;
}

.w-video {
  width: 100%;
  position: relative;
  padding: 0;
}

.w-video iframe,
.w-video object,
.w-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

button,
html input[type="button"],
input[type="reset"] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: button;
}

.w-form {
  margin: 0 0 15px;
}

.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}

.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.w-input,
.w-select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.w-input:-moz-placeholder,
.w-select:-moz-placeholder {
  color: #999;
}

.w-input::-moz-placeholder,
.w-select::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.w-input:-ms-input-placeholder,
.w-select:-ms-input-placeholder {
  color: #999;
}

.w-input::-webkit-input-placeholder,
.w-select::-webkit-input-placeholder {
  color: #999;
}

.w-input:focus,
.w-select:focus {
  border-color: #3898EC;
  outline: 0;
}

.w-input[disabled],
.w-select[disabled],
.w-input[readonly],
.w-select[readonly],
fieldset[disabled] .w-input,
fieldset[disabled] .w-select {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.w-input,
textarea.w-select {
  height: auto;
}

.w-select {
  background-image: linear-gradient(white 0%, #f3f3f3 100%);
}

.w-select[multiple] {
  height: auto;
}

.w-form-label {
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 0px;
}

.w-checkbox,
.w-radio {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox:before,
.w-radio:before,
.w-checkbox:after,
.w-radio:after {
  content: " ";
  display: table;
}

.w-checkbox:after,
.w-radio:after {
  clear: both;
}

.w-checkbox-input,
.w-radio-input {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  float: left;
  margin-left: -20px;
}

.w-radio-input {
  margin-top: 3px;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.w-container:before,
.w-container:after {
  content: " ";
  display: table;
}

.w-container:after {
  clear: both;
}

.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}

.w-row:before,
.w-row:after {
  content: " ";
  display: table;
}

.w-row:after {
  clear: both;
}

.w-row .w-row {
  margin-left: 0;
  margin-right: 0;
}

.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.w-col .w-col {
  padding-left: 0;
  padding-right: 0;
}

.w-col-1 {
  width: 8.33333333%;
}

.w-col-2 {
  width: 16.66666667%;
}

.w-col-3 {
  width: 25%;
}

.w-col-4 {
  width: 33.33333333%;
}

.w-col-5 {
  width: 41.66666667%;
}

.w-col-6 {
  width: 50%;
}

.w-col-7 {
  width: 58.33333333%;
}

.w-col-8 {
  width: 66.66666667%;
}

.w-col-9 {
  width: 75%;
}

.w-col-10 {
  width: 83.33333333%;
}

.w-col-11 {
  width: 91.66666667%;
}

.w-col-12 {
  width: 100%;
}

.w-col-push-1 {
  left: 8.33333333%;
}

.w-col-push-2 {
  left: 16.66666667%;
}

.w-col-push-3 {
  left: 25%;
}

.w-col-push-4 {
  left: 33.33333333%;
}

.w-col-push-5 {
  left: 41.66666667%;
}

.w-col-push-6 {
  left: 50%;
}

.w-col-push-7 {
  left: 58.33333333%;
}

.w-col-push-8 {
  left: 66.66666667%;
}

.w-col-push-9 {
  left: 75%;
}

.w-col-push-10 {
  left: 83.33333333%;
}

.w-col-push-11 {
  left: 91.66666667%;
}

.w-col-pull-1 {
  right: 8.33333333%;
}

.w-col-pull-2 {
  right: 16.66666667%;
}

.w-col-pull-3 {
  right: 25%;
}

.w-col-pull-4 {
  right: 33.33333333%;
}

.w-col-pull-5 {
  right: 41.66666667%;
}

.w-col-pull-6 {
  right: 50%;
}

.w-col-pull-7 {
  right: 58.33333333%;
}

.w-col-pull-8 {
  right: 66.66666667%;
}

.w-col-pull-9 {
  right: 75%;
}

.w-col-pull-10 {
  right: 83.33333333%;
}

.w-col-pull-11 {
  right: 91.66666667%;
}

.w-col-offset-1 {
  margin-left: 8.33333333%;
}

.w-col-offset-2 {
  margin-left: 16.66666667%;
}

.w-col-offset-3 {
  margin-left: 25%;
}

.w-col-offset-4 {
  margin-left: 33.33333333%;
}

.w-col-offset-5 {
  margin-left: 41.66666667%;
}

.w-col-offset-6 {
  margin-left: 50%;
}

.w-col-offset-7 {
  margin-left: 58.33333333%;
}

.w-col-offset-8 {
  margin-left: 66.66666667%;
}

.w-col-offset-9 {
  margin-left: 75%;
}

.w-col-offset-10 {
  margin-left: 83.33333333%;
}

.w-col-offset-11 {
  margin-left: 91.66666667%;
}

.w-hidden-main {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }

  .w-hidden-main {
    display: inherit !important;
  }

  .w-hidden-medium {
    display: none !important;
  }

  .w-col-medium-1 {
    width: 8.33333333%;
  }

  .w-col-medium-2 {
    width: 16.66666667%;
  }

  .w-col-medium-3 {
    width: 25%;
  }

  .w-col-medium-4 {
    width: 33.33333333%;
  }

  .w-col-medium-5 {
    width: 41.66666667%;
  }

  .w-col-medium-6 {
    width: 50%;
  }

  .w-col-medium-7 {
    width: 58.33333333%;
  }

  .w-col-medium-8 {
    width: 66.66666667%;
  }

  .w-col-medium-9 {
    width: 75%;
  }

  .w-col-medium-10 {
    width: 83.33333333%;
  }

  .w-col-medium-11 {
    width: 91.66666667%;
  }

  .w-col-medium-12 {
    width: 100%;
  }

  .w-col-medium-push-1 {
    left: 8.33333333%;
  }

  .w-col-medium-push-2 {
    left: 16.66666667%;
  }

  .w-col-medium-push-3 {
    left: 25%;
  }

  .w-col-medium-push-4 {
    left: 33.33333333%;
  }

  .w-col-medium-push-5 {
    left: 41.66666667%;
  }

  .w-col-medium-push-6 {
    left: 50%;
  }

  .w-col-medium-push-7 {
    left: 58.33333333%;
  }

  .w-col-medium-push-8 {
    left: 66.66666667%;
  }

  .w-col-medium-push-9 {
    left: 75%;
  }

  .w-col-medium-push-10 {
    left: 83.33333333%;
  }

  .w-col-medium-push-11 {
    left: 91.66666667%;
  }

  .w-col-medium-pull-1 {
    right: 8.33333333%;
  }

  .w-col-medium-pull-2 {
    right: 16.66666667%;
  }

  .w-col-medium-pull-3 {
    right: 25%;
  }

  .w-col-medium-pull-4 {
    right: 33.33333333%;
  }

  .w-col-medium-pull-5 {
    right: 41.66666667%;
  }

  .w-col-medium-pull-6 {
    right: 50%;
  }

  .w-col-medium-pull-7 {
    right: 58.33333333%;
  }

  .w-col-medium-pull-8 {
    right: 66.66666667%;
  }

  .w-col-medium-pull-9 {
    right: 75%;
  }

  .w-col-medium-pull-10 {
    right: 83.33333333%;
  }

  .w-col-medium-pull-11 {
    right: 91.66666667%;
  }

  .w-col-medium-offset-1 {
    margin-left: 8.33333333%;
  }

  .w-col-medium-offset-2 {
    margin-left: 16.66666667%;
  }

  .w-col-medium-offset-3 {
    margin-left: 25%;
  }

  .w-col-medium-offset-4 {
    margin-left: 33.33333333%;
  }

  .w-col-medium-offset-5 {
    margin-left: 41.66666667%;
  }

  .w-col-medium-offset-6 {
    margin-left: 50%;
  }

  .w-col-medium-offset-7 {
    margin-left: 58.33333333%;
  }

  .w-col-medium-offset-8 {
    margin-left: 66.66666667%;
  }

  .w-col-medium-offset-9 {
    margin-left: 75%;
  }

  .w-col-medium-offset-10 {
    margin-left: 83.33333333%;
  }

  .w-col-medium-offset-11 {
    margin-left: 91.66666667%;
  }

  .w-col-stack {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 767px) {
  .w-hidden-main {
    display: inherit !important;
  }

  .w-hidden-medium {
    display: inherit !important;
  }

  .w-hidden-small {
    display: none !important;
  }

  .w-row,
  .w-container .w-row {
    margin-left: 0;
    margin-right: 0;
  }

  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }

  .w-col-small-1 {
    width: 8.33333333%;
  }

  .w-col-small-2 {
    width: 16.66666667%;
  }

  .w-col-small-3 {
    width: 25%;
  }

  .w-col-small-4 {
    width: 33.33333333%;
  }

  .w-col-small-5 {
    width: 41.66666667%;
  }

  .w-col-small-6 {
    width: 50%;
  }

  .w-col-small-7 {
    width: 58.33333333%;
  }

  .w-col-small-8 {
    width: 66.66666667%;
  }

  .w-col-small-9 {
    width: 75%;
  }

  .w-col-small-10 {
    width: 83.33333333%;
  }

  .w-col-small-11 {
    width: 91.66666667%;
  }

  .w-col-small-12 {
    width: 100%;
  }

  .w-col-small-push-1 {
    left: 8.33333333%;
  }

  .w-col-small-push-2 {
    left: 16.66666667%;
  }

  .w-col-small-push-3 {
    left: 25%;
  }

  .w-col-small-push-4 {
    left: 33.33333333%;
  }

  .w-col-small-push-5 {
    left: 41.66666667%;
  }

  .w-col-small-push-6 {
    left: 50%;
  }

  .w-col-small-push-7 {
    left: 58.33333333%;
  }

  .w-col-small-push-8 {
    left: 66.66666667%;
  }

  .w-col-small-push-9 {
    left: 75%;
  }

  .w-col-small-push-10 {
    left: 83.33333333%;
  }

  .w-col-small-push-11 {
    left: 91.66666667%;
  }

  .w-col-small-pull-1 {
    right: 8.33333333%;
  }

  .w-col-small-pull-2 {
    right: 16.66666667%;
  }

  .w-col-small-pull-3 {
    right: 25%;
  }

  .w-col-small-pull-4 {
    right: 33.33333333%;
  }

  .w-col-small-pull-5 {
    right: 41.66666667%;
  }

  .w-col-small-pull-6 {
    right: 50%;
  }

  .w-col-small-pull-7 {
    right: 58.33333333%;
  }

  .w-col-small-pull-8 {
    right: 66.66666667%;
  }

  .w-col-small-pull-9 {
    right: 75%;
  }

  .w-col-small-pull-10 {
    right: 83.33333333%;
  }

  .w-col-small-pull-11 {
    right: 91.66666667%;
  }

  .w-col-small-offset-1 {
    margin-left: 8.33333333%;
  }

  .w-col-small-offset-2 {
    margin-left: 16.66666667%;
  }

  .w-col-small-offset-3 {
    margin-left: 25%;
  }

  .w-col-small-offset-4 {
    margin-left: 33.33333333%;
  }

  .w-col-small-offset-5 {
    margin-left: 41.66666667%;
  }

  .w-col-small-offset-6 {
    margin-left: 50%;
  }

  .w-col-small-offset-7 {
    margin-left: 58.33333333%;
  }

  .w-col-small-offset-8 {
    margin-left: 66.66666667%;
  }

  .w-col-small-offset-9 {
    margin-left: 75%;
  }

  .w-col-small-offset-10 {
    margin-left: 83.33333333%;
  }

  .w-col-small-offset-11 {
    margin-left: 91.66666667%;
  }
}
@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }

  .w-hidden-main {
    display: inherit !important;
  }

  .w-hidden-medium {
    display: inherit !important;
  }

  .w-hidden-small {
    display: inherit !important;
  }

  .w-hidden-tiny {
    display: none !important;
  }

  .w-col {
    width: 100%;
  }

  .w-col-tiny-1 {
    width: 8.33333333%;
  }

  .w-col-tiny-2 {
    width: 16.66666667%;
  }

  .w-col-tiny-3 {
    width: 25%;
  }

  .w-col-tiny-4 {
    width: 33.33333333%;
  }

  .w-col-tiny-5 {
    width: 41.66666667%;
  }

  .w-col-tiny-6 {
    width: 50%;
  }

  .w-col-tiny-7 {
    width: 58.33333333%;
  }

  .w-col-tiny-8 {
    width: 66.66666667%;
  }

  .w-col-tiny-9 {
    width: 75%;
  }

  .w-col-tiny-10 {
    width: 83.33333333%;
  }

  .w-col-tiny-11 {
    width: 91.66666667%;
  }

  .w-col-tiny-12 {
    width: 100%;
  }

  .w-col-tiny-push-1 {
    left: 8.33333333%;
  }

  .w-col-tiny-push-2 {
    left: 16.66666667%;
  }

  .w-col-tiny-push-3 {
    left: 25%;
  }

  .w-col-tiny-push-4 {
    left: 33.33333333%;
  }

  .w-col-tiny-push-5 {
    left: 41.66666667%;
  }

  .w-col-tiny-push-6 {
    left: 50%;
  }

  .w-col-tiny-push-7 {
    left: 58.33333333%;
  }

  .w-col-tiny-push-8 {
    left: 66.66666667%;
  }

  .w-col-tiny-push-9 {
    left: 75%;
  }

  .w-col-tiny-push-10 {
    left: 83.33333333%;
  }

  .w-col-tiny-push-11 {
    left: 91.66666667%;
  }

  .w-col-tiny-pull-1 {
    right: 8.33333333%;
  }

  .w-col-tiny-pull-2 {
    right: 16.66666667%;
  }

  .w-col-tiny-pull-3 {
    right: 25%;
  }

  .w-col-tiny-pull-4 {
    right: 33.33333333%;
  }

  .w-col-tiny-pull-5 {
    right: 41.66666667%;
  }

  .w-col-tiny-pull-6 {
    right: 50%;
  }

  .w-col-tiny-pull-7 {
    right: 58.33333333%;
  }

  .w-col-tiny-pull-8 {
    right: 66.66666667%;
  }

  .w-col-tiny-pull-9 {
    right: 75%;
  }

  .w-col-tiny-pull-10 {
    right: 83.33333333%;
  }

  .w-col-tiny-pull-11 {
    right: 91.66666667%;
  }

  .w-col-tiny-offset-1 {
    margin-left: 8.33333333%;
  }

  .w-col-tiny-offset-2 {
    margin-left: 16.66666667%;
  }

  .w-col-tiny-offset-3 {
    margin-left: 25%;
  }

  .w-col-tiny-offset-4 {
    margin-left: 33.33333333%;
  }

  .w-col-tiny-offset-5 {
    margin-left: 41.66666667%;
  }

  .w-col-tiny-offset-6 {
    margin-left: 50%;
  }

  .w-col-tiny-offset-7 {
    margin-left: 58.33333333%;
  }

  .w-col-tiny-offset-8 {
    margin-left: 66.66666667%;
  }

  .w-col-tiny-offset-9 {
    margin-left: 75%;
  }

  .w-col-tiny-offset-10 {
    margin-left: 83.33333333%;
  }

  .w-col-tiny-offset-11 {
    margin-left: 91.66666667%;
  }
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  min-height: auto;
}

body {
  font-family: 'Mn paethai v3', sans-serif;
  font-size: 20px;
  line-height: 150%;
  min-height: 100%;
  color: #333;
}

#content {
  overflow-x: hidden;
}

.card {
  position: relative;
  background-color: #fff;
}

.content-detail * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.content-detail {
  position: relative;
  color: #000;
  font-size: 28px;
  line-height: 40px;
  padding: 10px 0;
}

.content-detail-text {
  word-break: break-word;
  text-rendering: optimizeLegibility;
  width: 100%;
  min-height: 400px;
  padding: 10px 100px;
  font-family: 'Mn paethai v3', sans-serif;
}

@media (max-width: 991px) {
  .content-detail-text {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .content-detail-text {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 479px) {
  .content-detail-text {
    padding-right: 25px;
    padding-left: 25px;
  }
}
.alignCenter {
  text-align: center;
}

.text {
  word-break: break-word;
}

.content-detail-text, .book-page-detail, .feed-info-detail, .story-detail {
  text-rendering: optimizeLegibility;
}
.content-detail-text .word-count, .book-page-detail .word-count, .feed-info-detail .word-count, .story-detail .word-count {
  width: auto;
}
.content-detail-text .tab:before, .book-page-detail .tab:before, .feed-info-detail .tab:before, .story-detail .tab:before {
  content: " ";
  float: left;
  display: inline-block;
  position: relative;
  width: 50px;
  height: 22px;
}

.dark {
  background-color: #3A3A3C;
}
.dark .card {
  background-color: #3A3A3C;
}
.dark .content-detail-text {
  color: #A5A7AA;
}

.fontDown-1 .content-detail-text {
  font-size: 22px !important;
  line-height: 32px !important;
}

.fontDown-2 .content-detail-text {
  font-size: 20px !important;
  line-height: 30px !important;
}

.fontDown-3 .content-detail-text {
  font-size: 18px !important;
  line-height: 28px !important;
}

.fontUp-1 .content-detail-text {
  font-size: 26px !important;
  line-height: 38px !important;
}

.fontUp-2 .content-detail-text {
  font-size: 28px !important;
  line-height: 40px !important;
}

.fontUp-3 .content-detail-text {
  font-size: 30px !important;
  line-height: 42px !important;
}
